a{
	text-decoration: none;
	color: #fff;
}
.d{
	 width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:center;
  align-items: center;
font-family:Century Gothic;
	font-size:  25px;
	color: #fff;
	text-decoration: none;
	background-color: #75d6e5;
}
.a{
	 width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:center;
  align-items: center;
font-family:Century Gothic;
	font-size:  25px;
	color: #fff;
	text-decoration: none;
	background-color: #9ce79e;
}
.b{
	 width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:center;
  align-items: center;
font-family:Century Gothic;
	font-size:  25px;
	color: #fff;
	text-decoration: none;
	background-color: #e5b8e6; 
}
.c{
	 width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:center;
  align-items: center;
font-family:Century Gothic;
	font-size:  25px;
	color: #fff;
	text-decoration: none;
	background-color: #e5d9a9;
}